{% extends 'User_navigation.html' %}
{% block body %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <center><h3 style="color:DarkSlateGrey">Contact Us</h3></center><hr style="color:white">
        </div>

        <hr><div class="col-lg-4 col-md-4 col-sm-6"><hr>
            <h5 style="color:blue">Mobile No.</h5>
        <a href="tel:8899776655">Call : 8899776655</a><br>
        <a href="tel:7766997734">Call : 7766997734</a><br>

        </div>

        <hr><div class="col-lg-4 col-md-4 col-sm-6"><hr>
            <h5 style="color:blue">Address :</h5>
            Add1 : Piplani, Sonagiri ,Sector - A,Bhopal, MadhyaPradesh 462022 <br><br>

            Add2 : Mansarowar Complex, Integration IT, Bhopal, MadhyaPradesh 462028

        </div>

        <hr><div class="col-lg-4 col-md-4 col-sm-6"><hr>
            <h5 style="color:blue">Email Address:</h5>
        <a href="mailto:bhuwanbhaskar761@gmail.com">Mail Add1   :- YourEmail761@gmail.com</a>
        <a href="mailto:bhuwanbhaskar761@gmail.com">Mail Add1   :- OurEmail9061@gmail.com</a>
        </div>
    </div>
</div>
</body>
{% endblock %}
