{% extends 'User_navigation.html' %}
{% block body %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=date], input[type=text], input[type=number], input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
textarea{
  width: 100%;
  height:25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

select{
width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: DarkSlateGrey;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>



<h2 align="center">Send Feedback</h2>

<form action="" method="post">
    {% csrf_token %}
    <div class="container">
        <label for="date"><b>Date :</b></label>
    <input type="text"  name="date" value="{{date1}}" readonly>

    <label for="name"><b>Username:</b></label>
    <input type="text"  name="name" value="{{request.user.first_name}}" readonly>

        <label for="email"><b>Email ID:</b></label>
    <input type="email"  name="email" value="{{request.user.email}}" readonly>

    <label for="contact"><b>Contact:</b></label>
    <input type="number"  name="contact" value="{{pro.contact}}" readonly>

        <label for="message"><b>Message:</b></label>
        <textarea name="message"  required></textarea>


        <button type="submit">Send Feedback</button>

  </div>

</form>
<script type="text/javascript">
    $(document).ready(function() {

  $('#credit').keyup(function() {
    recalc();
  });

  $('#limit').keyup(function() {
    recalc();
  });

  $('#result').keyup(function() {
    recalc();
  });

  function recalc() {
    var credit = $("#credit").val();
    var limit = $("#limit").val();
    var result = credit * limit;

    $("#result").val(result);
  }
  $('#result').keyup(function() {
    result();
});
</script>
<script>
{% for  i in messages %}
alert('{{i}}')
{% endfor %}
</script>

{% endblock %}
