{% extends 'User_navigation.html' %}
{% block body %}
<style>
    .button {
  background-color: orange; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 1px 1px;
  cursor: pointer;
}


.button1 {border-radius: 15px;}

</style>

<h5>Welcome..{{request.user.username}}</h5>

<div class="container"><h2 style="color:red"><center> My Profile</center> <hr></h2>
    <center><h4><span style="color:blue">Name</span> : {{request.user.first_name}}<br>
        <span style="color:blue">Date Of birth</span> : {{data.dob}}<br>
        <span style="color:blue">City</span> : {{data.city}}<br>
        <span style="color:blue">Address</span> : {{data.address}}<br>
        <span style="color:blue">Email ID</span> : {{request.user.email}}<br>
        <span style="color:blue">Contact Number</span> : {{data.contact}}<br></h4>
    <a href="{% url 'edit_profile' data.id %}"><button class="button button1">Edit Profile</button></a>

    </center>
</div>

{% endblock %}