{% extends 'admin_navigation.html' %}
{% block body %}
<center><h2 style="color:DarkSlateGrey">View Categary</h2></center>
 <div class="container">
<table class="table table-bordered" id="myTable">
  <thead>
  <tr>
    <th>Product Name</th>
    <th>Image</th>
    <th>Delete</th>
  </tr>
  </thead>
   <tbody>

    {% for i in pro %}

  <tr>

    <td>{{i.name}}</td>
    <td><img src="{{i.image.url}}" style="width:50px;height:50px"></td>
    <td><a href="{% url 'delete_categary' i.id %}"><button class="button button1">delete</button></a></td>
  </tr>

    {% endfor %}
    </tbody>
{{count}}
</table>

 </div>
<script>
  {% for i in message %}
  alert("{{i}}")
  {% endfor %}
</script>

{% endblock %}
